{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}}</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Awesome Fonts -->
<link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous'>
  <style media="screen">
    .navbar{
      margin-bottom: 0;
    }
    .badge{
      display: flex;
      position: absolute;
      right: 1px;
      top: 0.5px;
    }
    
    .sec1{
        background-color: #222;
        border-color: #080808;
        color: #9d9d9d;
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);



    }
    .sec2{
        background-color: #222;
        border-color: #080808;
    }
    .sec3{
        background-color: #222;
        border-color: #080808;
        
        min-height: 400px;
    }
    .sec3 ul{
      margin-top: 5px;
      padding-top: 5px;
      list-style-type:none;

    }
    .sec3 ul li a{
      text-decoration: none;

    } 
    .sec3 ul li{ 
      padding: 5px;
    }
    .sec4{
        background-color: #222;
        border-color: #080808;
    }
    .profile_pic{
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .search-form-left{
      border-radius: 10px;
      vertical-align: center;
    }
    footer {
    position: fixed;
    height: 45px;
    bottom: 0;
    width: auto;
    background-color: #222;
    border-color: #080808;
    text-align: center;
}
.fa{
  margin-left: 10px;
}
.navbar>.container-fluid .navbar-brand{
  margin-left: 30px;
}
  </style>
  {% block head %} {% endblock %}

</head>

<body>
 <div class="container-fluid">
        <!-- Empieza El Menu -->
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Socios</a>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      
                      
                    </ul>
                   
                    <ul class="nav navbar-nav navbar-right">
                      
                      <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-envelope-open"></i>
                          <span class="badge">0</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-bell"></i>
                          <span class="badge">0</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-flag"></i>
                          <span class="badge">0</span>
                        </a>
                      </li>
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> Configuracion</a>
                        <ul class="dropdown-menu">
                          <li><a href="#"><i class="fa fa-address-card"></i>  Perfil</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#"><i class="fa fa-power-off"></i> Salir</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
        </nav>
        <!-- Fin Menu -->
        

        <!-- Inicio Menu lateral -->
        <div class="col-md-2  ">
            <!-- User card -->
            <center>
              <div class="row sec1">
                <img class="card-img-top img-circle profile_pic" src="https://i.pravatar.cc/100 " alt="">
                <br>
                <h5 class="card-title">Title</h5>
                <p class="card-text">Content</p>
              </div>
            </center>


            <!-- User form search -->
            <div class="row sec2">
              <br>
              <center>
                <input type="text" placeholder="Buscar" class="search-form-left"> 
              </center>
            </div>


            <!-- Menu left -->
            <div class="row sec3">
              <ul>
                <li><a href="#"><i class="fa fa-forumbee"></i> Test</a> </li>
                <li><a href="#"><i class="fa fa-forumbee"></i> Test</a> </li>
                <li><a href="#"><i class="fa fa-forumbee"></i> Test</a> </li>
                <li><a href="#"><i class="fa fa-forumbee"></i> Test</a> </li>
                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>
                <li><a href="#"><i class="fa fa-forumbee"></i> Test</a> </li>
              </ul>
            </div>

            <!-- User menu footer -->
            <div class="row sec4">
              
                <footer class="fixed-bottom">
                    <a href="#"><i class="fa fa-chevron-circle-up"></i> Ayuda</a>
                  </footer>
                
            </div>
        </div>
        <!-- Fin menu lateral -->
         
        <div class="col-md-10">
          
        </div>

 </div>






  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {
      $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
  {% block scripts %} {% endblock %}
</body>

</html>
